@font-face {
    font-family: "Titania";
    src: url("https://ebeanomarket.com/assets/font/Titania-Regular.ttf");
}

*,
input,
button {
    outline: none;
}

.btn:focus {
    box-shadow: none;
}

input[type=text]:focus,
input[type=email]:focus,
select:focus {
    outline: 0;
    box-shadow: none;
    border: 1px solid #eb790f;
}

@import "pagination.css";
@import "market.css";
.btn-default {
    background-color: #eb790f;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.btn-default:hover {
    background-color: #dd7310;
    color: #fff;
}

.bg-sec {
    background-color: rgb(161, 17, 181);
    color: #fff;
}

body {
    font-size: 13px;
    color: #333;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover,
.card-title .link:hover {
    text-decoration: none;
    color: #eb790f;
}

a,
a:hover {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}

.smooth-scroll {
    scroll-behavior: smooth;
}

.scr-sn-type-x-m {
    scroll-snap-type: x mandatory;
    display: flex;
    /* overflow-x: scroll; */
}

.p-i-s, .color-label {
    width: 48px;
    height: 44px;
    padding-right: 4px;
    scroll-snap-align: start;
    flex-shrink: 0;
    border-radius: 2px;
}
.color-label {
    width: 18px;
    height: 18px;
}
.p-it-sel{
    width: 100%;
    cursor: pointer;
    border-radius: 2px;
}
.color-label{
    cursor: pointer;
    border-radius: 2px;
}
.p-it-sel:hover,
.p-it-sel.active:hover {
    border: 1px solid rgb(161, 17, 181);
}
.color-label:hover, .color-label.checked:hover {
    opacity: 0.6;
    padding:2px;
    border: 3px solid rgb(161, 17, 181);
}

.color-label.checked{
    opacity: 0.6;
    padding: 2px;
    border: 3px solid rgb(161, 17, 181);
}
.p-it-sel.active {
    border: 1px solid #eb790f;
}
.navbar-brand img {
    width: 132px;
}
.header .top-navbar {
    background-color: #fafafa;
}

.header .top-navbar .inline-links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    line-height: 1;
}

.header .top-navbar .inline-links li {
    display: inline;
}

.header .top-navbar .inline-links>li:not(:last-of-type) {
    margin-right: 12px;
}

.header .top-navbar .top-bar-item {
    font-size: 12px;
    padding: 10px 0;
    color: rgb(161, 17, 181);
    display: inline-block;
}

.header .top-navbar .top-bar-item:hover {
    color: #eb790f;
}

.dropdown-menu {
    padding: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.dropdown-item {
    padding: .5rem;
    font-size: 12px;
}

.dropdown-divider {
    margin: 0;
}

.strong-700 {
    font-weight: 700 !important;
}

.heading--base {
    font-family: "Roboto", sans-serif;
}

.heading-light {
    color: rgba(0, 0, 0, 0.6);
}

.heading>a {
    color: #111111;
}

.heading-inverse {
    color: white;
}

.heading-inverse>a {
    color: white;
}

.heading>.icon,
.heading>a>.icon {
    display: inline-block;
    margin-right: 4px;
}

.heading-count {
    font-size: 0.875rem;
    margin-right: 0.625rem;
}

.heading-1 {
    font-size: 2.5rem !important;
    line-height: 1.3;
}

.heading-2 {
    font-size: 2rem !important;
    line-height: 1.3;
}

.heading-3 {
    font-size: 1.5rem !important;
    line-height: 1.3;
}

.heading-4 {
    font-size: 1.25rem !important;
}

.heading-5 {
    font-size: 1.125rem !important;
}

.heading-6 {
    font-size: 0.875rem !important;
}

.heading {
    margin: 0 0 6px;
    padding: 0;
    text-transform: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #111111;
    line-height: 1.46;
}

.logo-bar-icons .nav-search-box .nav-box-icon,
.logo-bar-icons .nav-compare-box .nav-box-icon,
.logo-bar-icons .nav-wishlist-box .nav-box-icon,
.logo-bar-icons .nav-cart-box .nav-box-icon {
    font-size: 32px;
    width: 32px;
    line-height: 32px;
    color: #777;
}
.sticky-top {
    z-index: 10;
}
.logo-bar-area {
    position: relative;
    height: auto;
    width: 100%;
    background-color: #fff;
    padding: 10px 0;
    z-index: 101;
    border-bottom: 1px solid #e9e9e9;
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
}
.sm-fixed-top {
    position: fixed !important;
    top: -68px;
    background: #fff;
    width: 100%;
    left: 0;
    transform: translateY(100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-bottom: 0;
}
.nav-brand svg {
    width: 132px;
    height: 40px;
}

.search-box input[type=text] {
    position: relative;
    width: auto;
    overflow: hidden;
    height: 36px;
    padding: 0 0 0 16px;
    border: 2px solid #eb790f;
    border-right: 0;
    border-radius: 4px 0 0 4px;
}

.search-box input[type=text]:focus {
    outline: none;
}

.search-box button {
    position: relative;
    width: auto;
    overflow: hidden;
    height: 36px;
    padding: 0 8px 0 8px;
    border: 2px solid #eb790f;
    border-right: 0;
    background-color: #eb790f;
    border-radius: 0 4px 4px 0;
    width: auto;
    color: #fff;
    font-size: 16px;
}

.search-box button {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: flex;
}

.hover-category-menu {
    position: absolute;
    width: 100%;
    top: calc(100% -20px);
    display: none;
}

.logo-bar-icons .nav-search-box .nav-box-link,
.logo-bar-icons .nav-compare-box .nav-box-link,
.logo-bar-icons .nav-wishlist-box .nav-box-link,
.logo-bar-icons .nav-cart-box .nav-box-link {
    display: block;
    position: relative;
    color: #333;
    padding: 3px 0;
}

.logo-bar-icons .nav-compare-box .nav-box-number,
.logo-bar-icons .nav-wishlist-box .nav-box-number,
.logo-bar-icons .nav-cart-box .nav-box-number {
    position: absolute;
    top: 0;
    left: 36px;
    min-width: 25px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-radius: 8px;
    color: #fff;
    font-size: 12px;
    background-color: #F79F1F;
}

.banner-area {
    margin-top: 14px;
    padding-left: 0;
}

.category-sidebar {
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 8px 8px 0 0;
    height: 100%;
}

.category-sidebar .all-category {
    height: 49px;
    line-height: 49px;
    padding-left: 16px;
    font-size: 13px;
    background-color: rgb(131, 13, 146);
    color: #fff;
    box-sizing: border-box;
    border-radius: 8px 8px 0 0;
}

.category-sidebar .all-category>span {
    font-size: 18px;
    font-weight: 600;
}

.category-sidebar .all-category>span>i {
    font-size: 20px;
    font-weight: 600;
}

.category-sidebar .categories>li>a {

    color: #333;
    font-size: 13px;
    border: 1px solid transparent;
    position: relative;
    display: block;
}

.category-sidebar .categories>li>a:hover {
    color: #eb790f;
    border-top: 1px solid rgb(221, 220, 220);
    border-bottom: 1px solid rgb(221, 220, 220);
}

ul.categories {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.categories>li>a:after,
ul.categories>li>a:before {
    content: "";
    display: table;
}

.category-sidebar .categories>li {
    border: 0;
}
/* sub category */
.category-sidebar .sub-cat-menu {
    display: none;
    position: absolute;
    width: calc(100% - 25%);
    left: 25%;
    height: 100%;
    overflow: hidden;
    top: 0;
    z-index: 100;
    background-color: #fff;
    border: 1px solid #eee;
    overflow-y: auto;
}
.category-sidebar .categories > li:hover .sub-cat-menu {
    display: block;
}
.sub-cat-content .sub-cat-list {
    padding: 10px;
    padding-top: 0;
}

.sub-cat-content .sub-cat-list .card {
    margin: 10px;
    border: 0;
}

.card .sub-cat-items {
    padding: 0;
    list-style: none;
}

.card .sub-cat-items li a {
    font-size: 13px;
    color: #333;
    display: block;
    text-overflow: ellipsis;
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    line-height: 26px;
}

.card .sub-cat-items li.sub-cat-name a {
    margin-bottom: 5px;
    font-weight: 600;
    line-height: 35px;
    height: 35px;
    border-bottom: 1px solid #e9e9e9;
}
.sub-cat-featured {
    padding: 20px;
}
.sub-cat-featured a {
    display: flex;
    height: 60px;
    border: 1px solid #e9e9e9;
    text-align: right;
}
.sub-cat-featured a .featured-img {
    height: auto;
    width: 70px;
    background: #fff;
    margin-top: -10px;
    margin-right: 6px;
}
.sub-cat-featured a .featured-name {
    width: 100%;
    padding: 13px 20px 13px 13px;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    height: 42px;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
    text-align: left;
}

.sub-cat-brand {
    padding: 10px 15px;
    padding-left: 25px;
}
.sub-cat-brand .sub-brand-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}
.sub-cat-brand .sub-brand-item {
    width: calc(50% - 4px);
    height: 50px;
    border: 1px solid #e9e9e9;
    padding: 5px 10px;
    margin: 2px;
    overflow: hidden;
    background-color: #fff;
}
.sub-cat-brand .sub-brand-item img {
    max-width: 80px;
    max-height: 40px;
}

/* icon hover category menu */
.hover-category-menu {
    position: absolute;
    width: 100%;
    top: calc(100% -20px);
    display: none;
}
.hover-category-menu .category-sidebar {
    box-shadow: 0 3px 3px 0 rgba(51, 51, 51, 0.2);
    padding-top: 8px;
}
.hover-category-menu .category-sidebar .all-category {
    position: relative;
}
.hover-category-menu .category-sidebar .all-category::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    border-top: 0;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #f2f2f2;
    border-left: 8px solid transparent;
    top: -8px;
    right: 20px;
}

.hover-category-menu .all-category {
    background-color: #f2f2f2;
    padding-left: 10px;
    line-height: 41px;
    height: 49px;
    line-height: 49px;
    color: #333;
    border-bottom: 1px solid #e9e9e9;
}

.hover-category-menu .all-category span {
    font-size: 14px;
}
.hover-category-menu .category-sidebar .sub-cat-menu {
    height: calc(100% - 8px);
    top: 8px;
    box-shadow: 2px 3px 5px 0 rgba(51, 51, 51, 0.2);
}
.hover-category-menu .category-sidebar .categories > li > a {
    padding: 8px 10px;
}

.home-banner-slider img {
    border-radius: 8px;
}

.home-banner-right .transition {
    transition: .3s cubic-bezier(.3, 0, 0, 1.3)
}

.home-banner-right .card {
    background-color: #fff;
    width: 100%;
    font-size: 14px;
    padding: 5px 8px;
    cursor: pointer;
    /*background-color: rgb(131, 13, 146);*/
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border: none;
}

.home-banner-right .card:hover {
    background-color: #eb790f;
    color: #222;
}

.home-banner-right .card h4 {
    /*color: #fff;*/
    vertical-align: center;
    font-size: 0.875em;
    margin-left: 5px;
    padding-top: 10px;
}

.home-banner-right .card a {
    border: 1px solid #fff;
    padding: 4px;
}

.flashdeals-entry {
    overflow: hidden;
    margin-top: 8px;
    padding: 0 8px 12px;
    background: #fff;
    border-radius: 8px;
}

.title-container .hot-zone {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.flashdeals-entry .title-container {
    padding-left: 8px;
    padding-right: 8px;
}

.title-container {
    position: relative;
    padding: 16px 16px 12px;
    overflow: hidden;
}

.title-container .title-info {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    box-align: center;
    -moz-box-align: center;
    -webkit-box-align: center;
    float: left;
}

.title-info h3 {
    color: #000;
    margin: 0;
    padding: 0 2px;
    line-height: 20px;
    font-size: 16px;
}

.title-container .view-more {
    float: right;
    line-height: 24px;
}

.view-more {
    color: #999;
    font-size: 12px;
    white-space: nowrap;
}

.flashdeals-entry .title-container .iconfont {
    color: #eb790f;
}

.iconfont {
    font-size: 20px;
    line-height: 20px;
}

.flashdeals-entry .product-list {
    list-style: none;
    margin: 0;
}

.flashdeals-entry .product-list .product-item {
    width: 16.6666%;
}

.product-list li {
    padding: 10px 6px;
    margin-left: 0;
    list-style: none;
}

.flex-wrap {
    -webkit-flex-wrap: wrap;
    -webkit-box-lines: multiple;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-horizontal,
.flex-vertical {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.flex-horizontal {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.product-list {
    margin: 0;
    padding: 0;
}

.util-clearfix {
    zoom: 1;
}

.product-list li a {
    position: relative;
    width: 100%;
    display: block;
    height: 100%;
}

/*.flashdeals-entry .product-item .img-wrapper {*/
    /*height: 224.8px;*/
    /*max-width: 224.8px;*/
/*}*/

.flashdeals-entry .product-item .img-wrapper {
    height: 174px;
    width: 170px;
}

.flashdeals-entry .product-item .img-wrapper .eb-img {
    height: 100%;
    width: 100%;
}

.product-list .img-wrapper {
    overflow: hidden;
    border-radius: 8px;
    text-align: center;
    position: relative;
}

.align-items-center {
    align-items: center;
    -webkit-align-items: center;
    box-align: center;
    -moz-box-align: center;
    -webkit-box-align: center;
}

.justify-center {
    -webkit-justify-content: center;
    justify-content: center;
    -moz-box-pack: center;
    -webkit--moz-box-pack: center;
    box-pack: center;
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.banner-ad .banner-img>img {
    border-radius: 8px;
}

.footer {
    background-color: #222;
    color: #c7c7cd;
    font-size: 0.85em;
}

.footer-top {
    padding-top: 16px;
    padding-bottom: 20px;
    background-color: #282828;
}

.footer-top input[type=text] {
    width: 80%;
    margin-bottom: 8px;
}

.footer-bottom,
.footer-bottom a {
    color: #f2f2f2;
}

.footer-bottom ul li {
    line-height: 2.2;
}

.footer-copyright {
    border-top: 1px solid #fafafa69;
}

.social-link a>i {
    font-size: 20px;
    color: #d5d5d5;
    transition: .3s;
}

.social-link a>i:hover,
.footer-bottom ul li a:hover {
    color: #eb790f;
}

.seller-info-box .sold-by .medal-badge {
    right: 0;
    top: 0;
    background: #fafafa;
    padding: 5px 7px;
}
.medal-badge svg {
    height: 34px;
    width: 22px;
}
.seller-info-box {
    border: 1px solid #e9e9e9;
    background-color: #fafafa;
}

.seller-info-box .sold-by {
    padding: 15px;
    border-bottom: 1px solid #e9e9e9;
}

.seller-info-box .sold-by .title {
    font-size: 12px;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 3px;
    margin-bottom: 5px;
}

.seller-info-box .sold-by .name {
    font-size: 14px;
    font-weight: 600;
}

.seller-info-box .sold-by .location {
    font-size: 12px;
    opacity: 0.7;
}

.seller-info-box .sold-by .rating {
    background: #fff;
    border: 1px solid #e9e9e9;
    padding: 6px;
    margin-top: 12px;
}
.seller-info-box .store-btn,
.seller-info-box .follow-btn {
    background: 0;
    border: 0;
    font-size: 13px;
    padding: 12px;
    color: #333;
    width: 100%;
    text-align: center;
}
.seller-info-box .follow-btn {
    border-left: 1px solid #e9e9e9;
}

.sidebar {
    height: 100%;
    background: #fff;
    border-radius: 4px;
}

.sidebar article {
    padding: 10px 16px;
}

.sidebar article>h2,
.search-content .search-title>h2 {
    font-size: 0.875rem;
}

.sidebar article ul {
    margin: 0;
    padding: 0;
}

.sidebar article li>a {
    display: block;
    padding: 8px 16px;
}

.search-content {
    background-color: #fff;
    border-radius: 4px;
}

.search-content .search-title {
    padding: 16px 16px 4px 16px;
    border-bottom: 1px solid #e9e9e9;
}

.product-card {
    font-size: 0.75rem;
}

.product-card .core {
    min-height: 1px;
}

.product-card .product-img img {
    position: relative;
    margin-bottom: 4px;
    width: 100%;
    height: auto;
}

.product-card .info {
    padding: 8px;
}

.product-card .tag {
    font-size: .6875rem;
    margin-bottom: 4px;
    height: 18px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: rgb(131, 13, 146);
    color: #fff;
    line-height: 1.2;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    border-radius: 2px;
}

.product-card .name {
    font-size: .75rem;
    line-height: 1.4;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-weight: 400;
}

.product-card .price {
    font-size: .875rem;
    text-align: left;
    font-weight: 500;
    padding-top: 4px;
    direction: ltr;
}

.product-card .price-discount {
    align-items: center;
    display: flex;
}

.pro-claimed {
    line-height: 1.4;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-line-clamp: 1;
}

.product-card .old {
    text-decoration: line-through;
    color: #75757a;
}

.product-card .disc {
    font-size: .75rem;
    text-decoration: none;
    margin-left: 8px;
    padding: 0 2px;
    height: 18px;
    min-width: 32px;
    color: #c01ef6;
    background: #f0defe;
}

.product-card .disc::before {
    content: '-';
}

.product-card .ft {
    padding: 0 8px 8px;
    margin-bottom: 8px;
}

.ft-center {
    align-items: center;
    justify-content: center;
}

.product-title-text {
    font-size: .925rem;
}

.product-rating .checked {
    color: rgb(161, 17, 181);
}

.product-price {
    font-weight: 700;
    font-size: 0.875rem;
}

.product-total {
    font-weight: 700;
    font-size: .925rem;
}

.p-action-btn button:not(:last-child) {
    font-size: 0.825rem;
    font-weight: 600;
    min-width: 120px;
    border: 0;
    opacity: .8;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.product-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.p-action-btn button:not(:last-child):hover {
    opacity: 1;
    color: #fff;
}

.table-cart tbody tr td {
    padding: 1rem 0;
}

.table-cart tbody tr td {
    font-size: 0.875rem;
    line-height: 1.2;
    letter-spacing: -0.5px;
    text-transform: none;
    padding: 1.25rem 0;
    vertical-align: middle;
    border: none;
}

.modal-content {
    min-height: 100px;
}

.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    border-radius: 0.25rem;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.19);
}

.absolute-close-btn {
    position: absolute;
    top: 7px;
    right: 12px;
    z-index: 1;
}

.added-to-cart .text-success i {
    font-size: 18px;
    height: 50px;
    width: 50px;
    line-height: 48px;
    border: 2px solid #28a745;
    border-radius: 50px;
    margin-bottom: 15px;
}

.table-cart tbody tr td {
    padding: 1rem 0;
}

.table-cart tbody tr td.product-image a {
    width: 60px;
    height: 60px;
}

label.payment_option input {
    opacity: 0;
    position: absolute;
}

label.payment_option {
    position: relative;
    cursor: pointer;
}

label.payment_option span {
    display: inline-block;
    border-radius: 4px;
    background: #f6f6f6;
    position: relative;
}

label.payment_option span img {
    width: auto;
    height: auto;
    max-height: 100%;
}

label.payment_option input:checked+span:before {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    content: "";
    top: 0;
    left: 0;
}

label.payment_option input:checked+span:after {
    position: absolute;
    content: "";
    left: calc(50% - 6px);
    top: calc(50% - 12px);
    width: 12px;
    height: 24px;
    border: solid #28a745;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    box-shadow: 2px 3px 5px rgb(94, 146, 106);
}

.added-to-cart .product-box {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 15px 0;
    margin: 25px 0;
}

.added-to-cart .product-box .block-image {
    display: table-cell;
    width: 100px;
    height: 100px;
}

.added-to-cart .product-box .block {
    display: table;
    width: 100%;
}

.added-to-cart .product-box .block-body {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    padding: 0 0 0 2rem;
}

.added-to-cart .product-box .block-body h6 {
    font-size: 14px;
    margin-bottom: 10px;
}

.added-to-cart .text-success i {
    font-size: 18px;
    height: 50px;
    width: 50px;
    line-height: 48px;
    border: 2px solid #28a745;
    border-radius: 50px;
    margin-bottom: 15px;
}

.c-preloader {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: #fff;
    z-index: 9999;
}

.c-preloader i {
    position: absolute;
    height: 50px;
    width: 50px;
    text-align: center;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    line-height: 50px;
    font-size: 30px;
}

.global-search-overlay {
    padding-top: 30px;
    height: auto;
    background: transparent;
}

.global-search-overlay .form-global-search {
    background: #fff;
    border-radius: 0.25rem;
}

.global-search-overlay .form-global-search .search-input {
    display: block;
    width: 100%;
    margin: 0;
    padding: 30px 0;
    height: auto;
    font-size: 20px;
    line-height: 1.42857143;
    color: #111;
    border: 0;
    background-color: transparent;
    background-image: none;
}

.global-search-overlay .close-search {
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 300;
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin-top: -16px;
    text-align: center;
    color: #ddd;
    float: right;
    cursor: pointer;
    border-bottom-left-radius: 4px;
}

.global-search-overlay .close-search:before {
    content: "\f00d";
    font-family: FontAwesome;
    color: #ddd;
}

.nav-cart-box .dropdown-menu {
    border-color: #ccc;
    margin: 0;
}

.show>.dropdown-menu {
    opacity: 1;
    visibility: visible;
    z-index: 9999;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
    position: absolute;
    transform: translate3d(-304px, 38px, 0px);
    top: 0px;
    left: 0px;
    will-change: transform;
}

.dropdown-cart .dc-header .heading {
    margin: 0;
    color: rgba(0, 0, 0, 0.7);
}

.dropdown-cart {
    min-width: 360px;
    padding: 0 1rem;
}

.dropdown-cart .dc-header {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.dropdown-cart .dc-header .heading {
    margin: 0;
    color: rgba(0, 0, 0, 0.7);
}

.dropdown-cart .dc-item {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.dropdown-cart .dc-item:before,
.dropdown-cart .dc-item:after {
    content: '';
    display: table;
}

.dropdown-cart .dc-item:after {
    clear: both;
}

.dropdown-cart-header {
    padding: 1rem;
    border-bottom: 1px solid #f9f9f9;
}

.dropdown-cart-header .heading {
    margin: 0;
}

.dropdown-cart .dc-image {
    display: inline-block;
    float: left;
    width: 70px;
}

.dropdown-cart .dc-content {
    display: inline-block;
    float: right;
    width: calc(100% - 70px);
    padding-left: 1.5rem;
}

.dropdown-cart .dc-product-name a {
    color: rgba(0, 0, 0, 0.7);
}

.dropdown-cart .dc-product-name a:hover {
    color: rgba(0, 0, 0, 0.9);
}

.dropdown-cart .dc-quantity,
.dropdown-cart .dc-price {
    display: inline-block;
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.5);
    padding-right: 0.5rem;
}

.dropdown-cart .dc-actions {
    text-align: right;
}

.dropdown-cart .dc-actions button {
    background: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.5);
    border: 0;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    font-size: 0.5rem;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.dropdown-cart .dc-header {
    padding: 5px;
    text-align: center;
}

.dropdown-cart .dc-item {
    padding: 5px 15px;
}

.dropdown-cart .dc-btn .link--style-1 {
    color: #fff;
    font-size: 13px;
    border-radius: 3px;
}

.dropdown-cart .dc-actions button:hover {
    background: #ff3b30;
    color: #FFF;
}

.dc-item .subtotal-text {
    display: inline-block;
    float: left;
    color: rgba(0, 0, 0, 0.5);
}

.dc-item .subtotal-amount {
    display: inline-block;
    float: right;
    color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 992px) {
    .d-lg-table-cell {
        display: table-cell!important;
    }
}

.profile-nav i {
    font-size: 1.25rem;
    font-weight: 800;
    color: #222;
}

.profile-nav li a:hover,
.profile-nav ul .active {
    background-color: #ededed;
    font-weight: bold;
    color: #222;
}

.typed-search-box {
    position: absolute;
    top: 100%;
    border: 1px solid #eceff1;
    box-shadow: 0 5px 25px 0 rgba(123, 123, 123, 0.15);
    background: #fff;
    width: calc(100% - 48px);
    height: auto;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-webkit-transition: all 0.3s;
    min-height: 200px;
    z-index: 999999;
}

.typed-search-box .search-preloader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.typed-search-box .search-preloader .loader {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-18px);
    -webkit-transform: translateX(-18px);
}

.loader>div {
    display: inline-flex;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    margin: 0 2px;
    background: #777;
    -webkit-animation: bounce 1.48s ease-in-out infinite both;
    animation: bounce 1.48s ease-in-out infinite both;
}

.loader>div:nth-child(1) {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader>div:nth-child(2) {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bounce {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0.2;
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0.8;
    }
}

@keyframes bounce {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0.2;
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0.8;
    }
}

.typed-search-box .search-nothing {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    font-size: 15px;
    text-align: center;
    width: 100%;
    padding: 5px 20px;
}

.typed-search-box .title {
    background: #ddd;
    font-size: 10px;
    text-align: right;
    opacity: 0.5;
    padding: 3px 15px 4px;
    text-transform: uppercase;
    line-height: 1;
}

.typed-search-box ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.typed-search-box ul a {
    display: block;
    padding: 5px 15px;
    color: #525252;
}

.typed-search-box ul a:hover {
    background: #f7f7f7;
}

.typed-search-box .search-product .image {
    width: 50px;
    min-width: 50px;
    background-color: #ffffff;
    background-size: cover;
    height: 50px;
    background-position: center;
}

.typed-search-box .product a {
    padding: 8px 15px;
}

.typed-search-box .search-product .product-name {
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 600;
    margin-left: 20px;
}

.typed-search-box .search-product .price-box {
    margin-left: 20px;
}

.process-steps {
    margin: 0;
    padding: 0;
    list-style: none;
}

.process-steps li {
    width: 25%;
    float: left;
    text-align: center;
    position: relative;
}

.process-steps li .title {
    font-weight: 600;
    font-size: 13px;
    color: #777;
    margin-top: 8px;
}

.process-steps li .icon {
    height: 30px;
    width: 30px;
    margin: auto;
    background: #fff;
    border-radius: 50%;
    line-height: 30px;
    font-size: 14px;
    font-weight: 700;
    color: #adadad;
    position: relative;
}

.process-steps li+li:after {
    position: absolute;
    content: "";
    height: 3px;
    width: calc(100% - 30px);
    background: #fff;
    top: 14px;
    z-index: 0;
    right: calc(50% + 15px);
}

.process-steps li.done .icon {
    color: transparent;
}

.process-steps li.done:after,
.process-steps li.active:after,
.process-steps li.active .icon {
    color: #fff;
}

.process-steps li.done .icon:before {
    position: absolute;
    content: "";
    left: 11px;
    top: 7px;
    width: 8px;
    height: 14px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.details-table tr td {
    color: #333;
    padding: 5px;
}

.product-gal {
    padding: 20px 15px;
}

.product-gal-thumb {
    width: 50px;
    margin-right: 10px;
}

.product-gal-thumb .xzoom-thumbs {
    margin-bottom: 0;
}

.product-gal-thumb a {
    display: block;
}

.product-gal-thumb a img {
    max-width: 100%;
    margin: 0;
    margin-bottom: 10px;
    border-radius: 2px;
}

.product-gal-thumb a img.xactive {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 2px solid transparent;
}

.product-gal-img {
    width: calc(100% - 60px);
}

.xzoom-source {
    z-index: 1060;
}

.xzoom,
.xzoom-lens,
.xzoom-preview {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    z-index: 1055;
}

.btn-back-to-top:before {
    font-family: "LineAwesome";
    content: "\f113";
}

.checkbox-color input:checked~label:after {
    content: "\f17b";
    font-family: "LineAwesome";
}


/* hamburger icon */

.hamburger-icon {
    width: 24px;
    height: 18px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    top: 4px;
}

.hamburger-icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #777;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.hamburger-icon span:nth-child(1) {
    top: 0px;
}

.hamburger-icon span:nth-child(2),
.hamburger-icon span:nth-child(3) {
    top: 8px;
}

.hamburger-icon span:nth-child(4) {
    top: 16px;
}

.hamburger-icon.open span:nth-child(1) {
    top: 8px;
    width: 0%;
    left: 50%;
}

.hamburger-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.hamburger-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.hamburger-icon.open span:nth-child(4) {
    top: 8px;
    width: 0%;
    left: 50%;
}

@media (min-width: 300px) and (max-width: 768px) {
  .profile-nav, .footer, #v-pills-tab {
        display:none;
    }
    
    /*.category-sidebar .categories > li > a .cat-image {*/
    /*    width: 64px;*/
    /*}*/
    .sm-fixed-top {
        top: -75px;
    }
    .home-banner-right .card h4 {
        text-align: center;
        margin-left: 0;
    }
}
/* sm */

@media (min-width: 576px) {}


/* md */

@media (min-width: 768px) {}


/* lg */

@media (min-width: 992px) {}


/* xl */

@media (min-width: 1200px) {}


/* xl */

@media (max-width: 1199px) {
    .logo-bar-icons .nav-search-box .nav-box-link,
    .logo-bar-icons .nav-compare-box .nav-box-link,
    .logo-bar-icons .nav-wishlist-box .nav-box-link,
    .logo-bar-icons .nav-cart-box .nav-box-link {
        padding: 4px 5px;
    }
    .logo-bar-icons .nav-search-box .nav-box-number,
    .logo-bar-icons .nav-compare-box .nav-box-number,
    .logo-bar-icons .nav-wishlist-box .nav-box-number,
    .logo-bar-icons .nav-cart-box .nav-box-number {
        left: auto;
        right: 0;
        min-width: 20px;
        height: 14px;
        line-height: 13px;
        font-size: 10px;
    }
    .logo-bar-icons .nav-search-box .nav-box-icon,
    .logo-bar-icons .nav-compare-box .nav-box-icon,
    .logo-bar-icons .nav-wishlist-box .nav-box-icon,
    .logo-bar-icons .nav-cart-box .nav-box-icon {
        font-size: 24px;
        text-align: center;
    }
}


/* lg */

@media (max-width: 991px) {
    .logo-bar-area {
        /*padding: 12px 0;*/
    }
    
    .mobile-menu-icon-box {
        padding: 8px 0;
        margin-right: 20px;
    }
    .search-box {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        background: #fff;
        padding: 12px 15px !important;
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
        -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
        transition: opacity 0.3s 0s, visibility 0s 0s;
    }
    .search-box.show {
        opacity: 1;
        visibility: visible;
    }
    .search-box input[type="text"] {
        border-color: transparent;
        font-size: 15px;
    }
    .search-box-back button {
        background: none !important;
        color: #777;
        border-radius: 0;
    }
    .typed-search-box {
        top: calc(100% + 12px);
        width: calc(100% + 30px);
        left: -15px;
    }
    .side-menu-wrap {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 300px;
        max-width: 80vw;
        height: 100%;
        z-index: 999;
        transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1), visibility 0.4s cubic-bezier(0.77, 0, 0.175, 1);
        -webkit-transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1), visibility 0.4s cubic-bezier(0.77, 0, 0.175, 1);
        -ms-webkit-transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1), visibility 0.4s cubic-bezier(0.77, 0, 0.175, 1);
    }
    .side-menu-overlay {
        position: fixed;
        z-index: 998;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        transition: opacity 0.3s, visibility 0.3s;
        -webkit-transition: opacity 0.3s, visibility 0.3s;
        -ms-webkit-transition: opacity 0.3s, visibility 0.3s;
    }
    .side-menu-wrap.opacity-0,
    .side-menu-overlay.opacity-0 {
        opacity: 0;
        visibility: hidden;
    }
    .side-menu-wrap.opacity-1,
    .side-menu-overlay.opacity-1 {
        opacity: 1;
        visibility: visible;
    }
    .side-menu {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 300px;
        max-width: 80vw;
        transition: left 0.4s cubic-bezier(0.77, 0, 0.175, 1);
        -webkit-transition: left 0.4s cubic-bezier(0.77, 0, 0.175, 1);
        -ms-webkit-transition: left 0.4s cubic-bezier(0.77, 0, 0.175, 1);
        background: #fff;
        color: #777;
        z-index: 99;
        box-shadow: 5px 0 10px rgba(37, 53, 92, 0.2);
        overflow-y: auto;
    }
    .side-menu::-webkit-scrollbar {
        width: 2px;
        background: transparent;
    }
    .lumo-side-menu::-webkit-scrollbar-track {
        background: transparent;
    }
    .side-menu::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.3);
        border-radius: 2px;
    }
    .side-menu.closed {
        left: -250px;
    }
    .side-booking-option.open {
        left: 0;
    }
    .side-menu-header {
        position: relative;
        color: #fff;
    }
    .side-menu-close {
        position: absolute;
        color: #fff;
        font-size: 24px;
        right: 0;
        top: 0;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        cursor: pointer;
    }
    .side-menu-header .widget-profile-box .image {
        margin: 0;
        height: 60px;
        width: 60px;
        border: 3px solid #da8471;
    }
    .side-menu-header .widget-profile-box .name {
        margin-left: 10px;
        font-weight: 700;
        margin-top: 0;
    }
    .side-menu-header .side-login a {
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        line-height: 14px;
    }
    .side-menu-header .side-login a:not(:first-child) {
        margin-left: 10px;
        border-left: 1px solid #fff;
        padding-left: 10px;
    }
    .side-menu-list ul {
        padding: 5px 0;
        margin: 0;
        list-style: none;
    }
    .side-menu-list ul li a {
        color: #5a5a5a;
        font-size: 13px;
        padding: 5px 0;
        display: block;
        font-weight: 500;
    }
    .side-menu-list ul li a i {
        opacity: 0.6;
        margin-right: 8px;
    }
    .side-menu-list ul li .badge {
        border-radius: 8px;
        color: #fff;
        min-width: 20px;
        height: 13px;
        line-height: 12px;
        padding: 0;
        position: relative;
        top: -4px;
        font-size: 10px;
    }
    section.home-banner-area {
        padding: 30px 0 10px;
    }

}


/* md */

@media (max-width: 767px) {
        .category-sidebar {
        /*padding-top: 30px;*/
        background: transparent;
    }
    .category-sidebar .sub-cat-menu {
        display: none !important;
    }
    .category-sidebar .categories>li {
        width: 120px;
        height: 110px;
        display: inline-block;
        background: #fff;
        border-radius: 5px;
        border: 1px solid #e9e9e9 !important;
        margin: 0 5px;
        vertical-align: top;
    }
    .category-sidebar .categories {
        -webkit-overflow-scrolling: touch;
        overflow-x: auto;
        white-space: nowrap;
    }
    .category-sidebar .categories>li>a>* {
        display: block;
    }
    .category-sidebar .categories>li>a {
        text-align: center;
        height: 100%;
        text-overflow: unset;
        white-space: initial;
        border: none !important;
        
    }
    .category-sidebar .categories>li>a .cat-image {
        margin: auto;
        width: 44px;
        margin-bottom: 8px;
    }
    .category-sidebar .categories>li>a .cat-name {
        font-size: 12px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        min-height: 36px;
    }
    .sub-category-menu {
        padding: 40px 30px;
    }
    .all-category-menu ul li {
        width: 25%;
    }
    .home-slide .slick-slide {
        height: 175px !important;
    }
    .all-category-menu ul {
        -webkit-overflow-scrolling: touch;
        overflow-x: auto;
        white-space: nowrap;
        padding: 13px 12px 0;
    }
    .all-category-menu ul li {
        display: inline-block;
        width: 120px;
        height: 80px;
        float: none !important;
        text-align: center;
        padding: 8px;
        vertical-align: top;
    }
    .all-category-menu ul li a .cat-name {
        white-space: initial;
        margin-top: 5px;
        font-weight: 600;
    }
    .all-category-menu ul li:before {
        border-top: 1px solid #f3f1f1;
    }
    .sub-category-menu ul li {
        width: 50%;
    }
    .flashdeals-entry .product-item .img-wrapper {
        height: 134.8px;
        width: auto;
    }
}


/* sm */

@media (max-width: 575px) {
    .sub-category-menu {
        padding: 30px 20px;
    }
    .hamburger-icon {
        top: 0;
    }
}

ul.inline-links>li {
    vertical-align: top;
}

/*.c-rating>label {*/
/*    color: #d9dbdc;*/
/*    float: right;*/
/*    margin-bottom: 0;*/
/*}*/

/*.c-rating>label:before {*/
/*    margin: 0 2px;*/
/*    font-size: 16px;*/
/*    font-family: FontAwesome;*/
/*    content: "\f005";*/
/*    display: inline-block;*/
/*}*/
.c-rating {
    display: flex;
  width: 100%;
  justify-content: flex-end;
  overflow: hidden;
  flex-direction: row-reverse;
  font-size: 16px;
}
.c-rating>input {
    display: none;
}

.c-rating>input:checked~label,
.c-rating:not(:checked)>label:hover,
.c-rating:not(:checked)>label:hover~label {
    color: rgb(161, 17, 181);
}

.c-rating>input:checked+label:hover,
.c-rating>input:checked~label:hover,
.c-rating>label:hover~input:checked~label,
.c-rating>input:checked~label:hover~label {
    color: rgb(161, 17, 181);
}

.img-upload-preview {
    border: 2px dashed #ddd;
    height: 160px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
}

.img-upload-preview .close-btn {
    right: 3px;
    top: 3px;
    background: rgb(237, 60, 32);
    border-radius: 3px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: absolute;
    padding: 0;
}


/* smedia */


/*=====================*/

.social-nav {
    padding: 0;
    list-style: none;
    margin: 0px auto;
}

.social-nav li {
    display: inline-block;
}

.social-nav a {
    display: inline-block;
    /* float:left; */
    width: 35px;
    height: 35px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    line-height: 34px;
    background: #000;
    position: relative;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.top-bar .social-nav {
    float: none !important;
}

.top-bar .social-nav a {
    float: left;
    width: 15px;
    height: 15px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    position: relative;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.social-nav a .fa {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.social-nav a:hover .fa {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}


}
.product-card-2 {
    transition: all 0.3s;
}
.product-card-2 .product-label.label-hot {
    left: 0;
}
.product-card-2 button.btn-quickview {
    right: 0;
}
.product-card-2:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.product-card-2 .card-image img {
    height: 100px;
}
ul.inline-links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    line-height: 1;
}
ul.inline-links>li {
    display: inline-block;
    padding: 0 .4em 0 .4em;
    position: relative;
    font-size: 0.75rem;
}
ul.inline-links>li:first-child {
    padding-left: 0;
}
ul.inline-links>li:last-child {
    padding-right: 0;
}
ul.inline-links>li,
ul.inline-links>li>a {
    color: #818a91;
}
ul.inline-links>li>a.active {
    color: #2b2b2c;
    font-weight: 500;
}
ul.inline-links>li>a:hover {
    text-decoration: none;
}
ul.inline-links>li>a>i,
ul.inline-links>li>i {
    margin-right: 4px;
}
ul.inline-links.inline-links--style-2>li,
ul.inline-links.inline-links--style-2>li>a {
    font-size: 13px;
}
ul.inline-links.inline-links--style-2>li:not(:last-child) {
    padding-right: 12px;
}
ul.inline-links.inline-links--style-2>li:before {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    content: "\f111";
    font-family: 'FontAwesome';
    font-size: 4px;
}
ul.inline-links.inline-links--style-2>li:last-child:before {
    content: "";
}
.swal2-popup {
    width: 350px;
}
.swal2-popup .swal2-title {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}
.swal2-icon {
    transform: scale(0.6);
    margin: 0;
    margin-top: -10px;
}
.contact-widget li:not(:last-child) {
    margin-bottom: 8px;
}

/* dashboard */
.dashboard-widget {
    background: #fff;
    padding: 20px 15px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.02);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.dashboard-widget:hover {
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}
.dashboard-widget a,
.dashboard-widget a:hover {
    color: #fff;
}
.dashboard-widget i {
    width: 44px;
    height: 44px;
    line-height: 46px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    font-size: 16px;
    margin-bottom: 15px;
    color: #fff;
}
.dashboard-widget .title {
    font-size: 15px;
    font-weight: 700;
}
.dashboard-widget .sub-title {
    font-size: 12px;
    opacity: 0.7;
}
.plus-widget i {
    background: #ddd;
    height: 69px;
    width: 69px;
    line-height: 69px;
    font-size: 36px;
}
.red-widget {
    background-color: #fa5c7c;
}
.blue-widget {
    background-color: #39afd1;
}
.green-widget {
    background-color: #0acf97;
}
.yellow-widget {
    background-color: #ffbc00;
}
.c-pointer {
    cursor: pointer;
}

.category-sidebar .categories > li > a .cat-image {
    opacity: 0.6;
    padding: 8px;
}
.home-category h4 {
    font-size: .875rem;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-line-clamp: 1;
}
@media (min-width:1050px) and (max-width: 1500px) {
    .icon-bar {
        display: none;
    }
}
@media (min-width:100px) and (max-width: 290px) {
    .icon-bar {
        display: none;
    }
}

